# LLM Configuration
# Using OpenAI-compatible proxy
OPENAI_BASE_URL="https://you_proxy"
OPENAI_API_KEY="You_key"
LLM_MODEL="yandex/yandexgpt/rc"


# Database Configuration (Supabase)
# --- Database Configuration (Transaction Pooler via IPv4) ---
DB_HOST="You_"
DB_PORT="you_port"
DB_NAME="postgres"
DB_USER="you_DB_user"
DB_PASSWORD='you_password'          


TAVILY_API_KEY="you_tavily_key"


# Telegram Bot Token (Fill this later)
TELEGRAM_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN" 
TELEGRAM_BOT_USERNAME="@bot_username"

ADMIN_USER_IDS="ID_admin"


#Ваш секретный ключ API_YC
YANDEX_API_KEY="you_api_key"
YANDEX_FOLDER_ID="you_folder_id"

# Redis
REDIS_HOST="localhost"
REDIS_PORT="you_port"
REDIS_DB="you_DB"
#REDIS_PASSWORD=